<h1>
      <%=listTitle%>
</h1>

<table>
      <tr>
            <th>Sr. No.</th>
            <th>Date</th>
            <th>Time</th>
            <th>Day</th>
            <th>District</th>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
      </tr>
      <% item.forEach(function(items) { %>
            <tr>
                  <td>1</td>
                  <td>
                        <%=items.date%>
                  </td>
                  <td>
                        <%=items.time%>
                  </td>
                  <td>
                        <%=items.day%>
                  </td>
                  <td>
                        <%=items.district%>
                  </td>
                  <td>
                        <%=items.address%>
                  </td>
                  <td>
                        <%=items.xcoord%>
                  </td>
                  <td>
                        <%=items.ycoord%>
                  </td>
            </tr>


            <% })%>
</table>